.heading
{
    font-size: 23px;
    width: 100%;
    margin: 0;
    box-shadow: 5px 5px 5px grey;
    font-family: 'Patrick Hand SC',cursive;
    font-size: bold;
}

.note{
    font-size: 15px;
    color: black;
}

.copy_right_footer {
    position: fixed;
    color: white;
    bottom: 0;
    width: 100%;
    background-color: grey;
    line-height: 3;
    text-align: center;
}


canvas{
    border: 5px solid black;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;

}

body{
    font-family: 'Patrick Hand', cursive;
}